@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')
$primary: #585F74
$secondary: #BCD4DE
$green: #7CCFB4

*
    font-family:"Quicksand"
    margin:0
    padding:0
    box-sizing: border-box

.header-principal
    background-color:$primary
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    height: 10vh

.header-principal-titulo
    font-weight: regular
    font-size: 3em
    color: white
    padding-top: 1.5vh
    padding-left: 6vw


.header-principal-logo
    padding-left: 2vw
    padding-top: 0.5vh
    padding-bottom: 0.5vh
    max-width: 10vw
    max-height: 10vh


.header-principal-nav
    color: white
    padding-top: 3.5vh
    padding-right: 1.5vw


.header-principal-nav-img
    padding-left: 0.5vw
    
.header-principal-nav-a
    color: white

ul
    display: flex
    gap: 1vw
    list-style-type: none

a
    text-decoration: none

hr
    margin-top: 2vh
    margin-bottom: 2vh

.main-principal
    height: 80vh
    display: flex
    flex-flow: column wrap
    background-color: $secondary


.main-barrasup
    display: flex 
    flex-flow: row wrap
    justify-content: center

.main-barrasup-titulo
    font-size: 2.5rem

.main-contenidoprin
    display: flex
    flex-flow: column wrap
    margin-top: 1vh

.main-contenidoprin-anime-container
    display: flex
    flex-flow: column wrap
    padding-left: 1vw

.main-contenido-anime-container-titulo
    font-size: 2rem

.main-contenido-manga-container-titulo
    font-size: 2rem

.main-contenidoprin-manga-container
    display: flex
    flex-flow: column wrap
    padding-left: 1vw

.anime
    display: flex
    flex-flow: row wrap
    gap: 1vw

.manga 
    display: flex
    flex-flow: row wrap
    gap: 1vw

.elemento-anime
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center

.elemento-manga
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center

.footer-principal
    height: 10vh
    background-color: $primary
    display: flex
    flex-flow: row wrap
    justify-content: space-between

.footer-principal-redes
    display: flex
    flex-flow: row wrap
    gap: 0.5vw
    padding-left: 2vw
    padding-top: 3vh

.footer-principal-redes-img
    max-width: 3vw
    max-height: 3vw

.footer-principal-contacto
    color: white
    padding-right: 2vw
    padding-top: 4vh