@use 'base' as *
@use 'headerDesktop' as *
@use 'footerDesktop' as *


.main-principal
    height: 80vh
    background-color: $secondary
    display: flex
    flex-flow: column wrap
    gap: 5vh
    justify-content: center
    align-items: center

.main-principal-section

    border-radius: 20px
    gap: 15vh
    background-color: $primary
    width: 35vw
    height: 45vh
    
.main-principal-section-form
    color: white
    display: flex
    width: 35vw
    height: 45vh
    flex-flow: column wrap
    align-content: center
    text-align: center
    gap: 4vh
    padding-bottom: 5vw
    justify-content: center



.main-principal-section-form-input
    width: 40%
    border: 0
    border-bottom: 1px solid #000000
    outline: 5
    font-size: 1.3rem
    color: white
    background: $primary
    text-align: center
    align-self: center
    

.main-principal-section-form-label
    font-size: 2rem
    padding-top: 2vh


.main-principal-section-a
   align-self: center
   text-align: center
   padding-top: 1vh
   color: $green
   background-color: $primary
   height: 6vh
   width: 10vw
   font-size: 1.5rem
   border-radius: 11vh




    
@media (max-width: 850px)
    /* Aqui cambio las vistas de escritorio por las de movil */
    .header-principal
        display: none
   

    .footer-principal
        display: none

    .header-mobile
        background-color:$primary
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-content: center
        height: 10vh
    
    .header-mobile-logo
        min-width: 8vw
        min-height: 8vw
    
    .header-mobile-titulo
        font-weight: regular
        font-size: 2em
        color: white
        padding-top: 1.5vh
        padding-left: 6vw

    .main-principal-section
        width: 85vw
        height: fit-content

    .main-principal-section-form
        color: #fff
        text-align: center
        flex-flow: column nowrap
        align-content: center
        gap: 6vh
        display: flex
        width: 85vw


    .main-principal-section-form-label
        font-size: 24px
        padding-top: 2vh

    .main-principal-section-a
        text-align: center
        color: $green
        background-color: $primary
        height: 6vh
        width: 40vw
        font-size: 1.5rem
        border-radius: 11vh
        padding-top: 2vw
        margin-top: 5vw


    .footer-mobile
        height: 10vh
        background-color: #585f74
        flex-flow: row
        justify-content: center
        align-items: center
        display: flex
    
    .footer-mobile-nav-ul
        display: flex
        gap: 12vw