@use 'base' as *
@use 'headerDesktop' as *
@use 'footerDesktop' as *


.main-principal
    height: 80vh
    background-color: #bcd4de
    flex-flow: nowrap
    justify-content: center
    align-items: center
    gap: 10vh
    display: flex
    position: relative

.back-anchor
    text-align: center
    padding-top: 0.3vh 
    font-size: 2rem 
    color: white
    position: absolute
    right: 5vw
    top: 2vh
    height: 5vh
    width: 5vh
    background-color: $green
    border-radius: 50%


.main-principal-section-img
    width: 40vw
    height: 70vh


.main-separados-datos    
    border-left: 1px solid #000
    height: 60vh



.main-principal-section-datos
    height: auto
    width: auto
    background-color: #585f74
    border-radius: 20px
    flex-flow: column nowrap
    align-items: center
    /* gap: 5vh; */
    padding-top: 5vh
    padding-bottom: 5vh
    display: flex

.main-principal-section-datos-titulos
    font-size: 2rem
    text-align: center

.titulo-romaji
    color: white
    font-size: 4vw

.titulo-japo
    color: $green
    font-size: 3.5vw
    padding: 1vw

.main-principal-section-datos-subdatos
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    padding-left: 5vw
    gap: 5vw
    font-size: 1.5rem

.main-principal-section-datos-subdatos-titulos
    color: #7ccfb4
    flex-flow: column nowrap
    gap: 5vh
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5vw

.main-principal-section-datos-subdatos-resultados
    color: #fff
    flex-flow: column nowrap
    gap: 5vh
    display: flex
    align-items: center
    font-size: 1.5vw
    




@media (max-width: 850px)
    /* Aqui cambio las vistas de escritorio por las de movil */
    .header-principal
        display: none


    .footer-principal
        display: none

    .back-anchor
        display: none

    .main-separados-datos
        display: none

    .header-mobile
        background-color:$primary
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-content: center
        height: 10vh
    
    .header-mobile-logo
        min-width: 8vw
        min-height: 8vw
    
    .header-mobile-titulo
        font-weight: regular
        font-size: 2em
        color: white
        padding-top: 1.5vh
        padding-left: 6vw
    
    
    .main-principal
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        height: 80vh
        background-color: $secondary
        overflow: scroll
        padding-bottom: 5vh

    .titulo-romaji
        color: white
        font-size: 8vw

    .titulo-japo
        color: $green
        font-size: 8vw
        padding: 1vw



    .main-principal-section-img
        display: none
    
    .main-principal-section-img-mobile
        display: block
        width: 85vw
        height: 50vw
        max-height: 40vh
        border-radius: 20px
        padding-top: 5vw


    .main-principal-section-datos-subdatos-resultados
        font-size: 1.5rem

    .main-principal-section-datos-subdatos-titulos
        font-size: 1.5rem

    .main-principal-section-datos
        width: 90vw
        gap: 5vw
    
    .main-principal-section-datos-subdatos
        flex-flow: nowrap

    .footer-mobile
        height: 10vh
        background-color: #585f74
        flex-flow: row
        justify-content: center
        align-items: center
        display: flex
    
    .footer-mobile-nav-ul
        display: flex
        gap: 12vw